# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build

# Environment files
.env
.env.*
!.env.example

# IDE and editor files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Operating System
.DS_Store
Thumbs.db

# pnpm
pnpm-lock.yaml

# Testing
coverage 